# Next.js
.next/
out/
build/

# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
backend/__pycache__/
backend/deepfake-backend/

# Model weights (too large for git)
backend/weights/
backend/checkpoints/
*.pth
*.pt
*.ckpt
*.h5

# Datasets & preprocessing output
backend/o++_C23/
backend/faces/
backend/ff-c23.zip

# W&B logs
backend/wandb/

# SLURM logs
*_out.log
*_error.log

# OS
.DS_Store
Thumbs.db

# Misc
.vercel
